@font-face {
  font-family: 'vogamedium';
  src: url('fonts/voga-medium-webfont.eot');
  src: url('fonts/voga-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/voga-medium-webfont.woff2') format('woff2'),
       url('fonts/voga-medium-webfont.woff') format('woff'),
       url('fonts/voga-medium-webfont.ttf') format('truetype'),
       url('fonts/voga-medium-webfont.svg#vogamedium') format('svg');
  font-weight: 700;
  font-style: normal;
}
