@import '../bower_components/normalize.styl/normalize.styl'
@import '_fonts'

*, *:before, *:after
  box-sizing: border-box

html, body
  height: 100%
  font-family: Merriweather, Georgia, serif
  font-size: 87.5%
  line-height: 1.518
  background: #DCDCDC
  color: #404D5B
  height: 100%
  width: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -ms-content-zooming: none
  @media (min-width: 460px)
    font-size: 100%

::selection {
  color: #fff;
  background: rgb(63,184,175);
}
::-moz-selection {
  color: #fff;
  background: rgb(63,184,175);
}

a
  position: relative
  display: inline-block
  outline: medium none
  color: #404D5B
  vertical-align: bottom
  text-decoration: none
  border-bottom: 1px solid rgba(52, 73, 94, 0.4)
  font-weight: 500
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s
  &:hover, &:focus
    outline: 0 none
    border-color: rgba(52, 73, 94, 0)
    background-color: rgba(52, 73, 94, 0.1)

h2
  font-family: 'vintage_fairregular', sans
  font-size: 2.5em
  text-transform: lowercase
  margin: 0

.menu-button
  font-size: 2rem
  font-family: 'vintage_fairregular', sans
  position: fixed
  top: 1em
  right: 1em
  z-index: 4
  background: none
  border: 2px solid transparent
  color: #fff
  padding: .25em .5em
  text-transform: uppercase
  text-shadow: 0 0 2px rgba(0, 0, 0,0.4)
  transition: border .3s ease, background .3s ease
  opacity: 0
  animation: fade-in ease 1
  animation-fill-mode: forwards
  animation-duration: 1.5s
  animation-delay: 0.7s
  &:hover, &:focus
    border-color: #fff
    background-color: rgba(0, 0, 0, .25)

.navigation
  font-size: 1rem
  position: fixed
  top: 0
  right: 0
  width: 100%
  max-width: 30em
  z-index: 5
  background: #373B44
  border-right: 2em solid #373B44
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7)
  padding: 2em .5em 2em 4em
  text-align: right
  transform: translateX(120%)
  animation-fill-mode: both
  &--visible
    animation: .75s ease bounce-from-right
    transform: translateX(2em)
  &--hidden
    animation: .75s ease bounce-to-right
    transform: translateX(120%)
  &__flower
    color: #54b7a6
    position: absolute
    bottom: -.4em
    left: -.2em
    font-size: 7em
    text-shadow: 0 0 2px rgba(0, 0, 0,0.4)
  &__close
    font-size: 2em
    position: absolute
    top: 1.5em
    left: 1em
    border: 2px solid #fff
    color: #fff
    background: none
    border-radius: 50%
    width: 1.5em
    height: 1.5em
    line-height: 1.5em
    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: 50%
      left: 50%
      width: .1em
      height: 50%
      background: #fff
      z-index: 6
      transition: all .3s ease
    &:before
      transform: translate(-50%, -50%) rotate(-45deg)
    &:after
      transform: translate(-50%, -50%) rotate(45deg)
    &:hover, &:focus
      &:before, &:after
        height: 65%
  &__link
    font-size: 2em
    text-transform: uppercase
    line-height: 1
    display: block
    color: #fff
    font-weight: 700
    text-shadow: 0 0 2px rgba(0, 0, 0,0.4)
    border-bottom-width: 0
    margin: .4em .5em
    padding: .25em .5em
    transition: color .3s ease
    &:hover, &:focus
      color: #54b7a6

.map
  font-size: 1rem
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1

.slide
  position: relative
  z-index: 2
  height: 100%

.intro
  font-size: 1rem
  background: #fff url('../images/intro.jpg') no-repeat center center
  background-size: cover
  background-attachment: fixed
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7)
  &__title
    font-size: 3.5em
    line-height: 1
    font-family: vogamedium
    text-shadow: 0 0 2px rgba(0, 0, 0,0.4)
    color: #fff
    margin: 0
    position: absolute
    top: 1em
    left: 15%
    opacity: 0
    animation: fade-in ease 1
    animation-fill-mode: forwards
    animation-duration: 1.5s
    animation-delay: 0.7s
    @media (min-width: 600px)
      font-size: 5em
      top: .4em
    &__and
      font-size: 2em
      display: inline-block
      margin-left: -.06em
    &__name
      &--1
        vertical-align: top
  &__action
    position: absolute
    bottom: 1em
    left: 50%
    transform: translateX(-50%)
    font-size: 1.4em
    color: #fff
    opacity: 0
    animation: fade-in ease 1
    animation-fill-mode: forwards
    animation-duration: 1.5s
    animation-delay: 0.7s

.location
  font-size: 1rem
  pointer-events: none
  &__content
    position: absolute
    pointer-events: auto
    bottom: 2em
    right: 2.5%
    max-width: 95%
    padding: 1em 1.5em
    background: #fff
    box-shadow: 0 0 2px rgba(0, 0, 0,0.4)
    @media (min-width: 600px)
      right: 5%
      max-width: 50%
    @media (min-width: 1400px)
      max-width: 50em
    &__icon
      font-size: 5em
      position: absolute
      &--1
        top: .25em
        right: .2em
        transform: rotate(15deg)
      &--3
        font-size: 4em
        bottom: .25em
        right: .6em
        transform: rotate(5deg)
        color: #54b7a6
        @media (min-width: 600px)
          right: 1.7em
      &--4
        bottom: .25em
        right: .1em
        transform: rotate(50deg)
        @media (min-width: 600px)
          right: 1em
      &--5
        bottom: .5em
        right: .25em
        transform: rotate(150deg)
        @media (min-width: 600px)
          right: .75em
      &--heart
        font-size: 3em
        top: .05em
        right: .25em
        transform: rotate(15deg)
        color: #54b7a6
    &__address
      padding-left: 1.5em
      position: relative
      &:before
        content: '\e072'
        display: block
        position: absolute
        top: .3em
        left: 0
        font-family: 'icomoon'
        speak: none
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale

  &--party__content, &--sleeping__content
    left: 2.5%
    right: auto
    @media (min-width: 600px)
      left: 5%

.kitzkatz
  font-size: 1rem
  background: #fff url('../images/kitzkatz.jpg') no-repeat top center
  background-size: cover
  background-attachment: fixed
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7)

.imprint
  font-size: 1rem
  background: #404D5B
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7)
  padding: 2em
  z-index: 2
  position: relative
  color: #fff
  margin-top: 20em
  &__content
    max-width: 40em
    margin: 0 auto

@keyframes bounce-from-right
  0%
    transform: translateX(120%)
  60%
    transform: translateX(1em)
  80%
    transform: translateX(2.75em)
  100%
    transform: translateX(2em)

@keyframes bounce-to-right
  0%
    transform: translateX(2em)
  20%
    transform: translateX(1.5em)
  100%
    transform: translateX(120%)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1
