extends /layouts/_default

block content
  .map

  .slide.intro
    h1.intro__title
      span.intro__title__name.intro__title__name--1 Ulrike
      span.intro__title__and &amp;
      span.intro__title__name.intro__title__name--2 Robert

  .slide.location.location--wedding
    .location__content.location--wedding__content
      h2 Standesamt

  .slide.location.location--party
    .location__content.location--party__content
      h2 Feier

  .slide.kitzkatz

  .slide.location.location--morning
    .location__content.location--morning__content
      h2 Der Morgen danach…
