doctype html
html(lang="en")
  head
    title Ulrike &amp; Robert
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')
    meta(name='robots', content='noindex, nofollow')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js')
    link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css', rel='stylesheet')

    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body
    block content

    // build:js /scripts/main.js
    script(src='/bower_components/fishbone.js/fishbone.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/waypoints/lib/jquery.waypoints.js')
    script(src='/scripts/map.js')
    script(src='/scripts/main.js')
    // endbuild
